body {
  margin: 0;
  padding: 0;
  background-color: rgb(10,0,60);
}
*{
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
}
#taco {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 1280px;
  width: 100%;
}
.container {
  float: left;
  margin-right: 5%;
  width: 40%;
}
.container:first-child {
  width: 30%;
  margin-left: 5%;
}
.container:last-child {
  margin-right: 0;
}
.container .input_field{
  margin-bottom: 10px;
}
.container .input_field input[type="text"],
.container textarea{
  border: 1px solid rgb(255, 246, 229);
  width: 100%;
  padding: 10px;
}
.container textarea{
  resize: none;
  height: 80px;
}
.container .btn input[type="submit"]{
  border: 0px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: rgba(230, 40, 30, 0.5);
  color: rgba(255, 246, 229, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 0px;
  cursor: pointer;
}
.btn:hover input[type="submit"]{
  background: rgba(230, 40, 30, 1);
  color: rgba(255, 246, 229, 1);
}
#error_message{
  margin-bottom: 20px;
  background: rgba(230, 40, 30, 1);
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
h1 {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  color: rgb(10,0,60);
  text-shadow: -1px -1px 0 rgb(255, 246, 229), 1px -1px 0 rgb(255, 246, 229), -1px 1px 0 rgb(255, 246, 229), 1px 1px 0 rgb(255, 246, 229);
}
h2 {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  color: rgb(10,0,60);
  text-shadow: -1px -1px 0 rgb(230, 40, 30), 1px -1px 0 rgb(230, 40, 30), -1px 1px 0 rgb(230, 40, 30), 1px 1px 0 rgb(230, 40, 30);
}
h3 {
  font-size: 20px;
  margin: 25px 0 10px;
  color: rgb(255, 246, 229);
}
footer {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 85%);
  max-width: 1280px;
  width: 100%;
  text-align: center;
  color: rgba(255, 246, 229, 0.3);
  font-size: 14px;
}
